name: CI
on:
    push:
        branches: [ main ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: action/checkout@v4
            -   name: Setup Node
                uses: action/setup-node@v4
                with:
                    node-version: 18
            -   name: Install dependencies
                run: npm install
            -   name: echo
                run: echo server.js
